# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
**/__pycache__/
**/*.py[cod]
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
logs/

# Virtual Environment
venv/
ENV/
.env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Project specific
data/*
!data/
!data/**/*.yaml
!data/.gitkeep
!data/autognomes/
data/autognomes/**/*.json
data/autognomes/**/*.jsonl
!data/autognomes/**/ascii_art/*.txt
!data/autognomes/**/*.yaml

# AutoGnome memory storage
memory/
*.sqlite3
*.sqlite

# ChromaDB specific
.chroma/
chroma_logs.log
chroma_db.db

# Environment variables
.env